{% extends "base.html" %}

{% block content %}

<h2>Transaksi</h2>

<table border="1">
    
    <tr>
        <th>Kategori</th>
        <th>Jumlah</th>
        <th>Jenis</th>
        <th>Catatan</th>
        <th>Aksi</th>
    </tr>

    {% for transaction in transactions %}
    <tr>
        <td>{{ transaction.category }}</td>
        <td>{{ transaction.amount }}</td>
        <td>{{ transaction.jenis }}</td>
        <td>{{ transaction.description }}</td>
        <td>
            <a href="{{ url_for('edit', id=transaction.id) }}">Edit</a>
        </td>
    </tr>
    {% endfor %}

</table>

{% endblock %}